@model STgenetics.Models.AnimalViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-6">
        <h4>Crear Animal</h4>
        <hr />
        <form asp-action="Create" asp-controller="Animals" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Animal.Nombre" class="control-label"></label>
                        <input asp-for="Animal.Nombre" class="form-control" />
                        <span asp-validation-for="Animal.Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Animal.Raza" class="control-label"></label>
                        <input asp-for="Animal.Raza" class="form-control" />
                        <span asp-validation-for="Animal.Raza" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Animal.FechaNacimiento" class="control-label">Fecha de Nacimiento</label>
                        <input asp-for="Animal.FechaNacimiento" class="form-control" value="" type="date" />
                        <span asp-validation-for="Animal.FechaNacimiento" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Animal.Sexo" class="control-label"></label>
                        <select asp-for="Animal.Sexo" class="form-select">
                            <option value="Macho">Macho</option>
                            <option value="Hembra">Hembra</option>
                        </select>
                        <span asp-validation-for="Animal.Sexo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Animal.Precio" class="control-label"></label>
                        <input asp-for="Animal.Precio" class="form-control" />
                        <span asp-validation-for="Animal.Precio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Animal.Estado" class="control-label"></label>
                        <select asp-for="Animal.Estado" class="form-select">
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                        </select>
                        <span asp-validation-for="Animal.Estado" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr />

<table class="table" id="animalTable">
    <thead>
        <tr>
            <th class="text-center">
                Nombre
            </th>
            <th class="text-center">
                Raza
            </th>
            <th class="text-center">
                Fecha de Nacimiento
            </th>
            <th class="text-center">
                Sexo
            </th>
            <th class="text-center">
                Precio
            </th>
            <th class="text-center">
                Estado
            </th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Animales)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Raza)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.AnimalId" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="bi bi-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.AnimalId" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Detalles"><i class="bi bi-info-circle"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.AnimalId" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"></td>
            
            <th class="text-center">
                Total: @Model.Animales.Sum(a => a.Precio)
            </th>
            <td colspan="2"></td>
        </tr>
    </tfoot>
</table>


<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    });
</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            $(document).ready(function () {
                $('#animalTable').DataTable({
                    "paging": true,
                    "pageLength": 10, // Número de elementos por página
                    "lengthChange": false,
                    "searching": false,
                    "ordering": true,
                    "info": true,
                    "autoWidth": false,
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
                    }
                });
            });
        </script>
    }
}
