@model PedidoViewModel

<h4>Resumen del Pedido</h4>

<table class="table">
    <thead>
        <!-- Encabezados de la tabla -->
    </thead>
    <tbody>
        @foreach (var grupo in Model.AnimalesSeleccionados.GroupBy(a => a.Raza))
        {
            <tr>
                <td colspan="7">
                    <strong>@grupo.Key</strong>
                </td>
            </tr>
            @foreach (var animal in grupo)
            {
                <tr>
                    <!-- Datos del animal -->
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => animal.Nombre)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => animal.Raza)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => animal.FechaNacimiento)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => animal.Sexo)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => animal.Precio)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => animal.Estado)
                    </td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"></td>
            <td class="text-center">
                Total: @Model.TotalCompra
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td class="text-center">
                Descuento 6 Animales: @Model.DescuentoAnimal
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td class="text-center">
                Descuento Adicional: @Model.DescuentoAdicional
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td class="text-center">
                Envío: @Model.Envio
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td class="text-center">
                Total Pedido: @Model.TotalPedido
            </td>
            <td colspan="2"></td>
        </tr>
    </tfoot>
</table>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgradecimiento">
    Finalizar Venta
</button>



<!-- Modal de Agradecimiento -->
<div class="modal fade" id="modalAgradecimiento" tabindex="-1" aria-labelledby="modalAgradecimientoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgradecimientoLabel">¡Gracias por tu venta!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Tu venta ha sido realizada exitosamente.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
